body{
    background-color: #4BE3B0;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    padding: 20px;
    text-align: center;
    

}

header{
    border: 1px solid #4BE3B0;
    background-color:#4BE3B0;
    color: black;
    padding: 15px;
}

a:hover{
    color: #4BE3B0;
    text-decoration: underline overline;
}

ul li a{
    list-style: none;
    color: green;
    font-size: 20px;

}


    

.row{
    display: block;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 0px auto;
}


.box{
    display: inline-block;
    text-align: left;
    
    width: 30%;
    height: auto;
    margin: 0px auto;
    padding: 10px; 
}

img{
    width: 100%;
    
}
main{
    background-color: l#4BE3B0;
    
}

main ul{
    background-color:lightgreen;
    padding: 20px;
    color: #D2F03E;

}

main ul li{
    background-color: #D2F03E;
    color: #4BE3B0;
    margin: 5px;
}

ul h2{
    color:black;
    letter-spacing: 1px;
    padding: 5px;
    margin: 0;
    text-align: left;
    
}




