body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    padding: 20px;
    text-align: center;
    

}

header{
    border: 1px solid red;
    background-color:white;
    color: black;
    padding: 15px;
}

a:hover{
    color: green;
    text-decoration: underline overline;
}

ul li a{
    list-style: none;
    color: green;
    font-size: 20px;

}


    

.row{
    display: block;
    justify-content: space-between
    width: 100%;
    text-align: center;
    margin: 0px auto;
}


.box{
    display: inline-block;
    text-align: left;
    float: left;
    width: 30%;
    height: auto;
    margin: 0px auto;
    padding: 10px; 
}

img{
    width: 100%;
    
}
main{
    background-color: lightblue;
    
}

main ul{
    background-color:lightgreen;
    padding: 20px;

}

main ul li{
    background-color: lightblue;
    color: white;
    margin: 5px;
}

ul h2{
    color:darkgreen;
    letter-spacing: 1px;
    padding: 5px;
    margin: 0;
    text-align: left;
    
}



